/*
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	aliases {
		stepper = &focuser_stepper;
		stepper-drv = &focuser_stepper_drv;
	};

	focuser_stepper_drv: focuser_stepper_drv {
		compatible = "zephyr,fake-stepper-driver";
		status = "okay";
	};

	focuser_stepper: focuser_stepper {
		compatible = "zephyr,fake-stepper-controller";
		status = "okay";
	};

};

&uart0 {
	current-speed = <9600>;
};
