# Copyright (c) 2021 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0
#
# This file is the application Kconfig entry point. All application Kconfig
# options can be defined here or included via other application Kconfig files.
# You can browse these options using the west targets menuconfig (terminal) or
# guiconfig (GUI).

menu "Zephyr"
source "Kconfig.zephyr"
endmenu

menu "OpenAstroFocuser options"

config FOCUSER_THREAD_STACK_SIZE
	int "Focuser thread stack size"
	default 2048
	help
	  Stack allocation used by the focuser control thread.

config SERIAL_THREAD_STACK_SIZE
	int "Serial thread stack size"
	default 2048
	help
	  Stack allocation used by the Moonlite UART handler thread.

endmenu

module = APP
module-str = APP
source "subsys/logging/Kconfig.template.log_config"
