/*
 * Copyright (c) 2025 Zephyr Project Members
 * SPDX-License-Identifier: Apache-2.0
 */

/* Devicetree overlay enabling the Moonlite focuser firmware on ESP32-S3 DevKitC
 * (PROCPU). The zephyr,user node provides the stepper driver pin assignments.
 */

/ {
	zephyr,user {
		focuser-enable-gpios = <&gpio0 5 GPIO_ACTIVE_LOW>;
		focuser-step-gpios = <&gpio0 16 GPIO_ACTIVE_HIGH>;
		focuser-dir-gpios = <&gpio0 17 GPIO_ACTIVE_HIGH>;
	};
};

&uart0 {
	current-speed = <9600>;
};
