name: Build

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:
  build:
    name: Build app and tests
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04, macos-26, windows-2022]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.12

      - name: Install west
        run: |
          pip install west

      - name: Initialize Zephyr workspace
        run: |
          west init -m $GITHUB_SERVER_URL/$GITHUB_REPOSITORY --mr $GITHUB_REF_NAME .
          west update

      - name: Install Zephyr SDK
        run: |
          west sdk install -t arm-zephyr-eabi xtensa-espressif_esp32s3_zephyr-elf

      - name: Build firmware
        working-directory: OpenAstroFocuser
        shell: bash
        run: |
          if [ "${{ runner.os }}" = "Windows" ]; then
            EXTRA_TWISTER_FLAGS="--short-build-path -O/tmp/twister-out"
          fi
          west twister -T app -v --inline-logs --integration $EXTRA_TWISTER_FLAGS

      - name: Twister Tests
        working-directory: OpenAstroFocuser
        shell: bash
        run: |
          if [ "${{ runner.os }}" = "Windows" ]; then
            EXTRA_TWISTER_FLAGS="--short-build-path -O/tmp/twister-out"
          fi
          west twister -T tests -v --inline-logs --integration $EXTRA_TWISTER_FLAGS
